@model inmoCabreraNet.Models.Inmueble

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inm_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inm_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inm_direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inm_direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inm_tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inm_tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inm_uso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inm_uso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inm_ambientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inm_ambientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inm_precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inm_precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inm_disponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inm_disponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.disponibleNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.disponibleNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inm_pro_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inm_pro_id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
