@model IEnumerable<inmoCabreraNet.Models.Inmueble>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create"><i class="far fa-plus-square"></i> Cargar Nuevo</a>
    <a class="btn btn-secondary" asp-action="Index" asp-route-id="0"><i class="fas fa-hotel"></i> Todos</a>
    <a class="btn btn-secondary" asp-action="Index" asp-route-id="1"><i class="fas fa-hotel"></i> Disponibles</a>
    <a class="btn btn-secondary" asp-action="Availables"><i class="fas fa-hotel"></i> Consultar por Fechas</a>
</p>
<table class="table">
    <thead>
       <tr>

            <th>
                Direccion
            </th>
            <th>
                Tipo
            </th>
            <th>
                Uso
            </th>
            <th >
                Amb.
                @*@Html.DisplayNameFor(model => model.Ambientes)*@
            </th>
            <th >
                Disp.
                @*@Html.DisplayNameFor(model => model.Disponible)*@
            </th>
              <th>
                Propietarios
                @*Html.DisplayNameFor(model => model.Propietario)*@
            </th>
             
            <th width="90"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.inm_direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inm_tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inm_uso)
            </td>
             <td >
                @Html.DisplayFor(modelItem => item.inm_ambientes)
            </td>
             <td >
                @Html.DisplayFor(modelItem => item.inm_disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.disponibleNombre)
            </td>
            <td>
                 <a asp-action="Details" asp-controller="Propietarios" asp-route-id="@item.propietario.pro_nombre">@item.propietario.pro_nombre</a>
                 @*@Html.DisplayFor(modelItem => item.Propietario.pro_nombre)*@
            </td>
             
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.inm_id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
