@model inmoCabreraNet.Models.Inquilino

@{
    ViewData["Title"] = "Borrar Inquilino";
}

<h1>Borrar</h1>
<div>
    <h4>Inquilino</h4>
    <hr />
     <dl class="row">
       
        <dt class = "col-sm-2">
            DNI
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inq_dni)
        </dd>
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inq_nombre)
        </dd>
        <dt class = "col-sm-2">
            Fec. de Nacimiento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inq_fechanac)
        </dd>
        <dt class = "col-sm-2">
            Domicilio Trabajo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inq_domicilioTrabajo)
        </dd>
        <dt class = "col-sm-2">
            Telefono
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inq_telef)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inq_email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" onclick="javascript:return borrar();" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>


<script>
function borrar ()
  {
      rc = confirm("¿Seguro que desea eliminar el Inquilino?");
      return rc;
  }
</script>
