@model inmoCabreraNet.Models.Inquilino

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inquilino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inq_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inq_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inq_dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inq_dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inq_nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inq_nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inq_fechanac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inq_fechanac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inq_domicilioTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inq_domicilioTrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inq_telef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inq_telef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inq_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inq_email)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
