@model IEnumerable<inmoCabreraNet.Models.Inquilino>

@{
    ViewData["Title"] = "Lista de Inquilinos";
}

<h1>Listado de Inquilinos</h1>

<p>
    <a asp-action="Create">Nuevo Inquilino</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               DNI
            </th>
            <th>
                Nombre
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.inq_dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inq_nombre)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.inq_email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.inq_id }) |
                @Html.ActionLink("Details", "Details", new { id=item.inq_id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.inq_id })
            </td>
        </tr>
}
    </tbody>
</table>
