@model IEnumerable<inmoCabreraNet.Models.Inquilino>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionTrabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DniGarante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreGarante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoGarante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailGarante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionTrabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DniGarante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreGarante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoGarante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailGarante)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
